body {
    margin: 0;
    font-size: 18px;
    background-color: #ffdfc4;
    font-family: "Open Sans", "Arial", sans-serif;
}

/*-----------------------------------Header-------------------------------------------------*/

.header {
    padding: 1em 1em 2.5em 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(49, 95, 114);
}

.leftItem {
    float: left;
}

.rightItem {
    float: right;
}

@media (max-width: 1198px) {
    .header {
        padding: 1em 1em 2.4em 1em;
        font-size: 18px;
    }
}

@media (max-width: 747px) {
    .header {
        padding: 1em 1em 2em 1em;
        font-size: 16px;
    }
}

@media (max-width: 300px) {
    .header {
        padding: 1em 1em 2em 1em;
        font-size: 14px;
    }
}

/*-------------------------------------Clock-------------------------------------------------*/

.clock {
    padding-top: 2.5em;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

@media (max-width: 1198px) {
    .clock {
        font-size: 35px;
    }
}

@media (max-width: 747px) {
    .clock {
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    .clock {
        font-size: 25px;
    }
}

/*-------------------------------------Authorization-------------------------------------------------*/

.authorization {
    padding-top: 2em;
    text-align: center;
}

#loginInput, #passwordInput {
    background-color: white;
}

#loginInput {
    margin-bottom: 0.5em;
}

#inputAuthorizationBlock {
    padding-bottom: 1em;
    width: 25%;
    margin: 0 auto;
}

#signInButton {
    margin-right: 0.5em;
}

#authorizationButtons {
    padding-bottom: 1em;
}

.buttonAuth {
    display: inline;
}

@media (max-width: 747px) {
    #inputAuthorizationBlock {
        width: 40%;
    }
}

@media (max-width: 300px) {
    #inputAuthorizationBlock {
        width: 65%;
    }

    .buttonAuth {
        display: block;
    }

    #signInButton {
        margin-right: 0;
        margin-bottom: 0.25em;
    }
}

/*-------------------------------------Other-------------------------------------------------*/

#firstRow {
    display: flex;
    width: 100%;
}

.content {
    padding: 0 0 20px;
    background-color: white;
    width: 100%;
    margin-top: 1em;
}

#values {
    margin-right: 1em;
}

.contentTable {
    padding: 0 0;
    vertical-align: top;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.plate_top {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0.5em 0;
    background-color: rgb(49, 95, 114);
    color: white;
    text-align: center;
}

.plate_top_table {
    display: inline-block;
    width: 100%;
    margin: 0 0;
    padding: 0.5em 0;
    background-color: rgb(49, 95, 114);
    color: white;
    text-align: center;
}

.plate_top_title {
    font-size: 20px;
    font-weight: normal;
}

.buttonManage {
    display: inline;
}

@media (max-width: 1198px) {
    .plate_top_title {
        font-size: 18px;
    }
}

@media (max-width: 747px) {
    .plate_top_title {
        font-size: 16px;
    }

    #values {
        margin-right: 0;
    }

    #firstRow {
        display: block;
    }
}

@media (max-width: 400px) {
    .plate_top_title {
        font-size: 14px;
    }

    #values {
        margin-right: 0;
    }

    #firstRow {
        display: block;
    }

    .buttonManage {
        display: block;
        margin-bottom: 0.5em;
    }
}

.graph_image {
    text-align: center;
}

#mainTable {
    width: 95%;
    margin: auto;
    border-spacing: 1em;
}

#input {
    width: 95%;
    margin: auto;
    text-align: center;
}

.buttons {
    margin-top: 7%;
    text-align: center;
    margin-bottom: 5%;
}

.buttons::before {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    margin: 0 auto 4%;
    background-color: rgb(49, 95, 114);
}

#table {
    position: relative;
}

/*-------------------------------------ResultTable-------------------------------------------------*/

.scroll_container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
}

#resultTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

@media (max-width: 1198px) {
    #resultTable {
        font-size: 18px;
    }
}

@media (max-width: 747px) {
    #resultTable {
        font-size: 16px;
    }
}

@media (max-width: 300px) {
    #resultTable {
        font-size: 14px;
    }
}